In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('RTT_data.csv').select_dtypes(exclude = 'object')

In [5]:
data.columns

Index(['%Timestamp[s]', 'GroundTruthPositionX[m]', 'GroundTruthPositionY[m]',
       'GroundTruthPositionZ[m]', 'ML_range_estimate[m]', 'AP_positionX[m]',
       'AP_positionY[m]', 'AP_positionZ[m]', 'AP_index', 'GroundTruthRange[m]',
       'ToD_factor[m]'],
      dtype='object')

In [12]:
data[['GroundTruthPositionX[m]', 'GroundTruthPositionY[m]']][data['GroundTruthPositionX[m]'] > -20]

       GroundTruthPositionX[m]  GroundTruthPositionY[m]
1232                  -19.9450                   12.417
1233                  -19.9080                   12.426
1234                  -19.9080                   12.426
1235                  -19.5440                   12.526
1236                  -19.5150                   12.528
...                        ...                      ...
29576                  -2.9512                   13.733
29577                  -2.9512                   13.733
29578                  -2.9512                   13.733
29579                  -2.9512                   13.733
29580                  -2.9512                   13.733

[20032 rows x 2 columns]